*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: crimson;
}

.card{
    width: 700px;
    background: #fff;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
}

/*Scroll bar*/
::-webkit-scrollbar{
    background: linear-gradient(#21D4FD, #b721ff);
    width: 10px;
}

::-webkit-scrollbar-track-piece{
    background: linear-gradient(#21D4FD, #b721ff);
    border-radius: 100px;
}